* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 56px;
    background: var(--Background-Color, #212121);
}

.navbar-item {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-form {
    /* width: 426px; */
    display: flex;
    align-items: center;
}

.navbar-form input {
    width: 362px;
    height: 40px;
    border-radius: 2px 0px 0px 2px;
    background: #121212;
    outline: none;
    border: 0;
    color: var(--Gray-Color, #AAA);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px;
}

.search-icon {
    background: #303030;
    height: 40px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-mic {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: var(--Black, #000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.main{
    display: flex;
    
}
.sidebar{
    overflow: auto;
    width: 224px;
    min-width: 224px;
    height: calc(100vh - 56px);
    background: var(--Background-Color, #212121);
}
.content{
    background: var(--Black, #000);
    width: 100%;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
/* sidebar */
.sidebar{
    padding-right: 16px;
}
.sidebar-menu{
    border-bottom: 1px solid #303030;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.sidebar-menu a{
  
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--White-Color, #FFF);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 8px 8px 8px 24px;
}
.sidebar-menu a:hover{
    background: var(--border-color, #303030);
}
.sidebar-title{
    color: var(--Gray-Color, #AAA);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 8px 24px;
}
.header{
    max-width: 1142px;
    /* width: 100%; */
    overflow: auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 76px;
    border-top: 1px solid #303030;
    background: var(--Background-Color, #212121);
}
.header::-webkit-scrollbar{
    display: none;
}
.header-item{
    border-radius: 32px;
border: 0.3px solid var(--Gray-Color, #AAA);
background: var(--border-color, #303030);
padding: 8px 12px;
color: var(--White-Color, #FFF);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.content-row{
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: calc(100vh - 132px);
    overflow: auto;
}
.card{
    width: 257px;
}
.card-header img{
    width: 100%;
}
.card-body{
    padding-top: 12px;
    display: flex;
    align-items: start;
    color: red;
    gap: 12px;
}
.card-title{
    color: var(--White-Color, #FFF);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.card-name{
    color: var(--Gray-Color, #AAA);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 6px;
}
.card-details{
    color: var(--Gray-Color, #AAA);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-body img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
